<img src="{{ album.album_logo }}">
<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_msg %}
<p><strong>{{ error_msg }}</strong></p>
{% endif %}

<form action="{% url 'Music:favorite' album.id %}" method="post">
  {% csrf_token %}
  {% for song in album.song_set.all %}
  <input type='radio' id='song{{ forloop.counter }}' name='song' value='{{ song.id }}'>
  <label for='song{{ forloop.counter }}'>
    {{ song.song_title }}
    {% if song.is_favorite %}
    <span style='color: gold'>*</span>
    {% endif %}
  </label>
  <br>
  {% endfor %}
  <input type='submit' value='Favorite'>
</form>
